@use '../fonts';
@use '../colors' as *;

@mixin secondary {
    cursor: pointer;
    color: $color-blue;
    background-color: $color-pastel-blue;
    border: {
        style: solid;
        color: $color-blue;
        width: 2px;
    }
}

main.acceuilBackoffice {
    display: flex;
    flex-direction: column;
    
    img, button {
        user-select: none;
    }
    
    section {
        display: flex;
        flex-direction: column;
        color: $color-blue;
        width: 100%;
        
        h1 {
            user-select: none;
            font: {
                family: 'lora';
                
            }
        }
        
        article {
            width: 100%;
            overflow-x: auto; 
        }
        
        a {
            margin-top: 1em;
            align-self: flex-end;
            
            img {
                height: 25px;
            }
        }
        
        ul {
            list-style: none;
            padding: 0;
        }
        
        &.stock article {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
            width: 100%;
            gap: 2em;
            
            table {
                padding: 1em;
                border: solid 2px $color-blue;
                border-radius: 16px;
                font-family: 'open-sans';
                font-size: 20px;
                
                img {
                    height: 100px;
                }
                
                tr:nth-child(3) {
                    font: {
                        family: 'open-sans-bold';
                    }
                    display: flex;
                    align-items: center;
                    width: 100%;
                    
                    td:nth-child(2) {
                        margin-left: auto;
                        font-size: 30px;
                        
                        &.epuise {
                            color: $color-red;
                        }
                        &.faible {
                            color: $color-orange;
                        }
                    }
                }
            }
        }
        
        &.commandes article {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
            width: 100%;
            gap: 2em;
            font-family: 'open-sans';
            font-size: 20px;
            
            table {
                padding: 1em;
                border: {
                    style: solid;
                    width: 2px;
                    radius: 16px;
                    color: $color-blue;
                }
                
                img {
                    height: 100px;
                    width: 100px;
                    object-fit: cover;
                }
                
                th {
                    font-size: 20px;
                }
                
                tr:first-child th {
                    text-align: left;
                    line-height: 0.5em;
                }
                tr:nth-child(2) td {
                    vertical-align: top;
                }
                tr:last-child th {
                    text-align: right;
                }
            }
        }
        
        &.avis article {
            table {
                width: 100%;
                border-spacing: 1em 0;
                table-layout: fixed;
                border-collapse: separate;
                
                tr:first-child {
                    font-weight: bold;
                    
                    td:first-child {
                        width: 120px;
                        justify-items: center;
                        line-height: 0.25em;
                        
                        figure:first-child {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            
                            img {
                                border-radius: 100% !important;
                                height: 50px !important; 
                                width: 50px !important;
                                object-fit: cover !important;
                            }
                        }
                        figure:last-child {
                            color: $color-yellow;
                            display: flex;
                            align-items: center;
                        }
                    }
                    td:nth-child(2) {
                        white-space: nowrap;
                        font-size: 20px;
                    }
                    td:nth-child(3) {
                        width: auto;
                        font-weight: normal;
                        font-size: 12px;
                    }
                    td:nth-child(4) {
                        width: 120px; 
                    }
                }
                
                tr:nth-child(2) {
                    td {
                        vertical-align: top;
                    }
                }
                
                tr:nth-child(3) {
                    td:last-child {
                        display: flex;
                        gap: 1em;
                        justify-content: flex-start;
                        
                        img {
                            height: 100px;
                            width: auto;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
        
        &.produits article {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
            max-width: 100%;
            gap: 2em;
            font-size: 20px;
            
            table {
                padding: 1em;
                border: {
                    style: solid;
                    width: 2px;
                    color: $color-blue;
                    radius: 16px;
                }
                
                img {
                    height: 100px; width: 100px;
                    object-fit: cover;
                }
                
                th {
                    text-align: left;
                }
                
                tr:last-child td {
                    font-family: 'open-sans';
                    
                    &:last-child {
                        text-align: right;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}