@use '../fonts';
@use '../colors' as *;

@mixin secondary {
    cursor: pointer;
    color: $color-blue;
    background-color: $color-pastel-blue;
    border: {
        style: solid;
        color: $color-blue;
        width: 2px;
    }
}

main.acceuilBackoffice {
    display: flex;
    flex-direction: column;
    
    img, button {
        user-select: none;
    }
    
    section {
        display: flex;
        flex-direction: column;
        color: $color-blue;
        width: 100%;
        
        h1 {
            user-select: none;
            font: {
                family: 'lora';
                
            }
        }
        
        article {
            width: 100%;
            overflow-x: auto; 
        }
        
        a {
            margin-top: 1em;
            align-self: flex-end;
            
            img {
                height: 25px;
            }
        }
        
        ul {
            list-style: none;
            padding: 0;
        }
        
        &.stock article {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
            width: 100%;
            gap: 2em;
            
            table {
                padding: 1em;
                border: solid 2px $color-blue;
                border-radius: 16px;
                font-family: 'open-sans';
                font-size: 20px;
                
                tr:nth-child(3) {
                    font: {
                        family: 'open-sans-bold';
                    }
                    display: flex;
                    align-items: center;
                    width: 100%;
                    
                    td:nth-child(2) {
                        margin-left: auto;
                        font-size: 30px;
                        
                        &.epuise {
                            color: $color-red;
                        }
                        &.faible {
                            color: $color-orange;
                        }
                    }
                }
            }
        }

        &.commandes article {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
            width: 100%;
            gap: 2em;
            font-family: 'open-sans';
            font-size: 20px;

            table {
                padding: 1em;
                border: {
                    style: solid;
                    width: 2px;
                    radius: 16px;
                    color: $color-blue;
                }

                img {
                    height: 100px;
                    width: 100px;
                    object-fit: cover;
                }

                th {
                    font-size: 20px;
                }

                tr:first-child th {
                    text-align: left;
                    line-height: 0.25em;
                }
                tr:nth-child(2) td {
                    vertical-align: top;
                }
                tr:last-child th {
                    text-align: right;
                }
            }
        }
        
        &.avis article {
            table {
                width: 100%;
                border-spacing: 1em 0;
                table-layout: fixed;
                border-collapse: separate;
                
                tr:first-child {
                    font-weight: bold;

                    td:nth-child(1) {
                        width: 120px;
                        justify-items: center;
                        line-height: 0.25em;
                        
                        figure:first-child {
                            border-radius: 100%;
                            height: 50px; width: 50px;
                            background: {
                                image: url(/public/images/pp.png);
                                position: center center;
                                repeat: no-repeat;
                            }
                        }
                        figure:last-child {
                            color: $color-yellow;
                            display: flex;
                            align-items: center;
                        }
                    }
                    td:nth-child(2) {
                        white-space: nowrap;
                        font-size: 20px;
                    }
                    td:nth-child(3) {
                        width: auto;
                        font-weight: normal;
                        font-size: 12px;
                    }
                    td:nth-child(4) {
                        width: 120px; 
                    }
                }

                tr:nth-child(2) {
                    td {
                        vertical-align: top;
                    }
                }

                tr:nth-child(3) {
                    td:last-child {
                        display: flex;
                        gap: 1em;
                        justify-content: flex-start;

                        img {
                            height: 100px;
                            width: auto;
                            object-fit: contain;
                        }
                    }
                }

                tr:last-child {
                    td:nth-child(2) {
                        padding-right: 1em;
                    }
                    
                    td:nth-child(3) {
                        width: auto;
                        text-align: right;
                        white-space: nowrap;
                    }
                }
                
                input {
                    border: none;
                    width: 100%;
                    max-width: 100%; 
                    box-sizing: border-box; 
                    outline: none;
                    border-bottom: {
                        style: solid;
                        width: 2px;
                        color: $color-blue;
                    }
                    border-radius: 4px;
                }
                
                button {
                    padding: {
                        left: 1em; right: 1em;
                        top: 0.5em; bottom: 0.5em;
                    }
                    font: {
                        family: 'lora';
                        weight: bold;
                    }
                    background: none;
                    border: {
                        style: solid;
                        width: 2px;
                        color: $color-blue;
                        radius: 8px;
                    }
                    color: $color-blue;
                    white-space: nowrap;
                    box-sizing: border-box;
                    min-width: fit-content;
                }
            }
        }

        &.produits article {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
            max-width: 100%;
            gap: 2em;
            font-size: 20px;

            table {
                padding: 1em;
                border: {
                    style: solid;
                    width: 2px;
                    color: $color-blue;
                    radius: 16px;
                }

                img {
                    height: 100px; width: 100px;
                    object-fit: cover;
                }

                th {
                    text-align: left;
                }

                tr:last-child td {
                    font-family: 'open-sans';
                    
                    &:last-child {
                        text-align: right;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}