@use '../fonts';
@use '../colors' as *;

@mixin secondary {
    cursor: pointer;
    color: $color-blue;
    background-color: $color-pastel-blue;
    border: {
        style: solid;
        color: $color-blue;
        width: 2px;
    }
}

main.acceuilBackoffice {
    display: flex;
    flex-direction: column;
    
    img, button {
        user-select: none;
    }
    
    section {
        display: flex;
        flex-direction: column;
        color: $color-blue;
        width: 100%;

        h1 {
            user-select: none;
            font: {
                family: 'lora';
                
            }
        }

        article {
            width: 100%;
        }
        
        a {
            margin-top: 1em;
            align-self: flex-end;
            
            img {
                height: 25px;
            }
        }

        &.stock article {
            display: grid;
            grid-template-rows: repeat(2, auto);
            grid-template-columns: repeat(3, auto);
            gap: 2em;

            table {
                padding: 1em;
                border: solid 2px $color-blue;
                border-radius: 16px;
                justify-content: center;
                font-family: 'open-sans';
                font-size: 20px;

                tr:nth-child(3) {
                    font: {
                        family: 'open-sans-bold';
                        size: 25px;
                    }
                    display: flex;
                    align-items: center;
                    width: 100%;

                    td:nth-child(2) {
                        font-size: 40px;
                        margin-left: auto;

                        &.epuise {
                            color: $color-red;
                        }
                        &.faible {
                            color: $color-green;
                        }
                    }
                }
            }
        }
    }
}