@use "../colors" as *; 
@use "../fonts" as *; 

.AjouterProduit {
  font: {
    family: 'lora', 'Serif';
    weight: bold;
    style: italic;
  }
  background-color: $color-white;
  color: $color-blue;
  min-height: 100vh;
  padding: {
    top: 50px;
    bottom: 0;
    right: 20px;
    left: 0;
  }

  .product-content {
    display: flex;
    gap: 30px;
    width: 100%;
  }

  .left-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
  }

  .ajouterPhoto {
    border: 2px solid $color-blue; 
    height: 350px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
    cursor: pointer;

    .placeholder-photo {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; 
      height: 100%;
      justify-content: center;
      position: relative;

      img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: contain;
      }

      p {
        margin: 0;
        color: $color-blue;
        font: {
          weight: normal;
          style: normal;
        }
      }

      .overlay-text {
        position: absolute;
        bottom: 10px;
        background: rgba(255, 255, 255, 0.7);
        color: $color-blue;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 5px;
        opacity: 0;
        transition: opacity 0.3s;
      }

      &:hover .overlay-text {
        opacity: 1;
      }
    }
  }

  .form-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  input[type="text"], textarea {
    padding: 8px 10px;
    border: 2px solid $color-blue;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;

    &::placeholder {
      color: $color-dark-gray;
      font: {
        weight: bold;
      }
    }
  }

  .price-weight-kg {
    display: flex;
    align-items: center;
    gap: 10px;

    input {
      width: 30%;
    }

    .prix-kg-label {
      width: 40%;
      font-weight: bold;
      text-align: right;
    }
  }

  .right-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;

    .ajouterResume {
      margin-bottom: 20px;

      label {
        color: $color-blue;
        font-weight: bold;
      }

      textarea {
        width: 100%;
        border: 2px solid $color-blue;
        border-radius: 8px;
        padding: 8px 10px;
        font-size: 1rem;
      }
    }

    #sections-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 15px;
    }

    .ajouterSection {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 15px;

      p {
        margin: 0;
        font-weight: bold;
      }

      select, button {
        padding: 10px 20px;
        border-radius: 32px;
        border: 2px solid $color-blue;
        font-weight: bold;
        cursor: pointer;
      }

      button {
        background-color: $color-blue;
        color: $color-white;

        &:hover {
          background-color: darken($color-blue, 10%);
        }
      }

      select {
        background-color: $color-white;
        color: $color-blue;
      }
    }

    .form-actions {
      display: flex;
      gap: 15px;
      margin-top: 20px;
      align-items: center;

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 32px;
        cursor: pointer;
      }

      .btn-previsualiser, .btn-annuler {
        background-color: $color-pastel-purple;
        color: $color-blue;
        width: 200px;

        &:hover {
          background-color: darken($color-pastel-purple, 5%);
        }
      }

      .btn-ajouter {
        background-color: $color-blue;
        color: $color-white;
        width: 200px;

        &:hover {
          background-color: darken($color-blue, 10%);
        }
      }
    }
  }
}
