@use "../colors" as *; 
@use "../fonts" as *; 

.AjouterProduit {
    font: {
        family: 'lora', 'Serif';
        weight: bold;
        style: italic;
    }
    background-color: $color-white;
    color: $color-blue;
    min-height: 100vh;
    padding: {
        top: 50px;
        bottom: 0;
        right: 20px;
        left: 0;
    }

    .product-content {
        display: flex;
        gap: 30px; 
        width: 100%;
    }

    .left-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%; 
    }

    .ajouterPhoto {
        border: 2px solid $color-blue; 
        height: 350px; 
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
        border-radius: 8px;
        cursor: pointer;

        .placeholder-photo {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%; 
            height: 100%;
            justify-content: center;
            position: relative;

            img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                object-fit: contain;
            }

            p {
                margin: 0;
                color: $color-blue;
                font: {
                    weight: normal;
                    style: normal;
                }
            }

            .overlay-text {
                position: absolute;
                bottom: 10px;
                background: rgba(255, 255, 255, 0.7);
                color: $color-blue;
                font-weight: bold;
                padding: 5px 10px;
                border-radius: 5px;
                opacity: 0;
                transition: opacity 0.3s;
            }

            &:hover .overlay-text {
                opacity: 1;
            }
        }
    }

    .form-details {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    input[type="text"], textarea {
        padding: 8px 10px;
        border: 2px solid $color-blue;
        border-radius: 8px;
        font-size: 1rem;
        width: 100%;
        box-sizing: border-box;
        
        &::placeholder {
            color: $color-dark-gray;
            font: {
                weight: bold;
            }
        }
    }

    .price-weight-kg {
        display: flex;
        align-items: center;
        gap: 10px;
        
        input {
            width: 30%;
        }
        
        .prix-kg-label {
            width: 40%;
            font-weight: bold;
            text-align: right;
        }
    }

    .right-section {
        width: 50%;
        display: flex;
        flex-direction: column;
        position: relative;

        .product-desc-box {
            border: 2px solid $color-blue;
            padding: {
                top: 0;
                bottom: 15px;
                right: 15px;
                left: 15px;
            }
            display: flex;
            flex-direction: column;
            height: 100%;
            position: relative;
            border-radius: 8px;

            label {
                margin-bottom: 5px;
                color: $color-blue;
                position: absolute;
                top: -12px;
                left: 10px;
                font: {
                    size: 1rem;
                    weight: bold;
                }
                padding: {
                    top: 0;
                    bottom: 0;
                    right: 5px;
                    left: 0;
                }
                background-color: $color-white;
                z-index: 50;
            }

            textarea {
                border: none;
                resize: none;
                flex-grow: 1;
                min-height: 250px;
                background-color: $color-white;

                &::placeholder {
                    padding-top: 10px;
                    color: $color-dark-gray;
                    font-weight: bold;
                }

                &:focus {
                    border: none;
                    outline: none;
                }
            }

            .char-count {
                text-align: right;
                font-size: 0.8rem;
                color: gray;
                margin-top: 5px;
            }
        }

        #sections-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 15px;

            .new-section-box {
                border: 2px solid $color-blue;
                padding: 15px;
                border-radius: 8px;
                background-color: lighten($color-white, 2%);

                .input-group {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    label {
                        font-weight: bold;
                        color: $color-blue;
                    }

                    input[type="text"], textarea {
                        border: 2px solid $color-blue;
                        border-radius: 8px;
                        padding: 8px 10px;
                        font-size: 1rem;
                        width: 100%;

                        &::placeholder {
                            color: $color-dark-gray;
                            font-weight: bold;
                        }
                    }

                    textarea {
                        min-height: 100px;
                        resize: vertical;
                    }
                }
            }
        }

        .ajouterSection {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 10px;

            select {
                padding: 8px 12px;
                border-radius: 8px;
                border: 2px solid $color-blue;
                font-weight: bold;
                background-color: $color-white;
                color: $color-blue;
                cursor: pointer;
            }

            #add-section-btn {
                padding: 10px 20px;
                border-radius: 32px;
                border: none;
                background-color: $color-pastel-purple;
                color: $color-blue;
                font-weight: bold;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: darken($color-pastel-purple, 5%);
                }
            }
        }
    }

    .form-actions {
        display: flex;
        gap: 15px;
        margin-top: 20px;
        margin-bottom: 50px; // espace avec le footer
        align-items: center;

        button {
            padding: 10px 20px;
            border: none;
            border-radius: 32px;
            cursor: pointer;
        }

        .btn-previsualiser, .btn-annuler {
            background-color: $color-pastel-purple;
            color: $color-blue;
            width: 200px;

            &:hover {
                background-color: darken($color-pastel-purple, 5%);
            }
        }

        .btn-ajouter {
            background-color: $color-blue;
            color: $color-white;
            width: 200px;

            &:hover {
                background-color: darken($color-blue, 10%);
            }
        }
    }
}