@use "../colors" as *; 
@use "../fonts" as *; 

.AjouterProduit{
    font: {
        family: 'lora', 'Serif';
        weight: bold;
        style: italic;
    }
    background-color: $color-white;
    color: $color-blue;
    min-height: 100vh;
    padding: {
        bottom: 0;
        left: 0;
    }

    .product-content {
        display: flex;
        gap: 30px; 
        width: 100%;
    }

    .left-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%; 
    }

    .ajouterPhoto {
        border: 2px solid $color-blue; 
        height: 400px; 
        width: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 3.5em 4em;
        border-radius: 8px;

        .placeholder-photo {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%; 
            height: 100%;
            justify-content: center;
            position: relative;

            img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                object-fit: contain;
            }

            p {
                margin: 0;
                color: $color-blue;
                font: {
                    weight: normal;
                    style: normal;
                }
            }

            .overlay-text {
                position: absolute;
                bottom: 10px;
                background: rgba(255, 255, 255, 0.7);
                color: $color-blue;
                font-weight: bold;
                padding: 5px 10px;
                border-radius: 5px;
                opacity: 0;
                display: none;
                transition: opacity 0.3s;
            }

            &:hover .overlay-text {
                opacity: 1;
            }
        }
    }

    .form-details {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-left: 4em;
    }

    .product-name-input{
        width: 450px;
        margin-bottom: 2em;
    }

    input[type="text"], textarea {
        padding: 8px 10px;
        border: 2px solid $color-blue;
        border-radius: 8px;
        font-size: 1rem;
        box-sizing: border-box;
        
        &::placeholder {
            color: $color-dark-gray;
            font: {
                weight: bold;
            }
        }
    }
    
    .price-weight-kg {
        display: flex;
        align-items: center;
        gap: 1em;
        
        input {
            width: 30%;
        }
        
        .prix-kg-label {
            width: 40%;
            font-weight: bold;
        }
    }
    
    .right-section {
        width: 35%;
        margin-top: 3em;
        display: flex;
        flex-direction: column;
        position: relative;
        
    }

    #resume{
        width: 100%;
        min-height: 7em;
    }

    .ajouterSection{
        width: 100%;
        height: 70%;
        border: 2px solid $color-blue;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
    }

    .ajouterSection p{
        margin: 0.5em;
    }

    .ajouterSection button{
        width: 50%;
        position: relative;
        left: 25%;
    }

    .form-actions {
        display: flex;
        gap: 15px;
        margin-top: 20px;
        align-items: center;

        button {
            padding: 10px 20px;
            border: none;
            border-radius: 32px;
            cursor: pointer;
        }

        .btn-previsualiser, .btn-annuler{
            background-color: $color-pastel-purple;
            color: $color-blue;
            width: 200px;

        }

        .btn-ajouter {
            background-color: $color-blue;
            color: $color-white;
            width: 200px;

        }
    }
}
