@use "../colors" as *;
@use "../fonts" as *;

.status-red { color: $color-red; }
.status-green { color: $color-green; }

.CreerCompteVendeur {
    font: {
        family: 'lora', 'Serif';
        weight: bold;
        style: italic;
    }
    background-color: $color-white;
    color: $color-blue;
    min-height: 100vh;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: initial;
    position: relative;
    overflow-x: hidden;
    z-index: 1;

    h1 {
        margin: {
            top: 10px;
            bottom: 30px;
            left: 30px;
        }
        text-align: left;
        font-weight: 600;
    }

    .triskiel{
        position: absolute;
        top: 0;
        right: 0;
        width: 1100px;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        pointer-events: none;
    }

    .haut_de_page{
        width: 100%;
        max-width: 900px;
        padding: 0 20px;
        margin: {
            top: 50px;
            bottom: 30px;
            left: auto;
            right: auto;
        }
        display: flex;
        align-items: center;
    }

    .haut_de_page > img[alt="photo de profil"]{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: {
            top: 0;
            bottom: 0;
            right: 20px;
        }
    }


    .container{
        width: 100%;
        max-width: 900px;
        padding: 0 15px;
        margin: {
            left: auto;
            right: auto;
        }

        .form-vendeur{
            display: flex;
            flex-direction: column;

            input.form-control {
                padding: 10px 15px;
                border: 2px solid $color-blue;
                border-radius: 8px;
                font-size: 1rem;
                color: $color-blue;

                &[type="date"] {
                    line-height: normal;
                }

                &::placeholder {
                    color: $color-dark-gray;
                }
                
                &.input-error {
                    border-color: $color-red !important; 
                    color: $color-red; 
                    
                    &::placeholder {
                        color: rgba($color-red, 0.7); 
                    }
                }
            }
            
            #password-requirements-container {
                padding-left: 12px;
                
                #password-requirements {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }
                #password-requirements li {
                    margin-bottom: 5px;
                }
            }


            .btn_inscription{
                background-color: $color-pastel-purple;
                max-width: 300px;
                width: 100%;
                border-radius: 24px;
                color: $color-blue;
                padding: 12px 20px;
                
                border: 0;
                cursor: pointer;

                margin: {
                    top: 20px;
                    right: auto;
                    left: auto;
                }

                display: block;

                &:disabled {
                    opacity: 0.7;
                    cursor: not-allowed;
                }
            }

            p, .connexion_lien{
                font: {
                    weight: normal;
                    style: normal;
                }
                text-align: center;
                margin: {
                    bottom: 10px;
                    top: 10px;
                }
            }

            .inscriptions_autres{
                text-align: center;
                color: $color-dark-gray;
                margin: {
                    top: 15px;
                }

                .logos {
                    display: flex;
                    justify-content: center;
                    gap: 20px;
                    margin: {
                        bottom: 30px;
                    }

                    a {
                        text-decoration: none;
                        display: flex;

                        img {
                            padding: 5px;
                        }
                    }
                }
            }
            #password-requirements{
                font: {
                    style: normal;
                    weight: normal;
                }
                margin-top: 10px;
            }
        }
    }
    
    .text-footer {
        max-width: 1000px;
        text-align: center;
        
        font: {
            size: 0.8rem;
            style: normal;
            weight: normal;
        }

        color: $color-dark-gray;

        margin: {
            top: 20px;
            left: auto;
            right: auto;
        }

        padding: 0 20px;
    }

    .hidden{
        display: none !important;
        height: 0;

        padding: {
            top: 0;
            bottom: 0;
        }

        margin: {
            top: 0;
            bottom: 0;
        }
    }
}