@use '../colors.scss' as *;
@use '../fonts.scss';

/* ---- Header ---- */
header.backoffice {
    display: flex;
    background-color: $color-pastel-purple;
    border-bottom: solid $color-blue 5px;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    
    * {
        margin: 0;
    }
    
    img, figure, h1 {
        user-select: none;
    }
    
    div {
        display: flex;
        align-items: center;
        
        img {
            width: 50px;
            height: 60px;
            margin-right: 1em;
        }
        
        h1 {
            font: {
                family: 'berkshire';
                size: 45px;
                weight: normal;
            }
            color: $color-blue;
            
        }
    }
    
    nav {
        display: flex;
        
        figure {
            margin-left: 5em;
            display: flex;
            align-items: center;
            
            &:hover {
                cursor: pointer;
            }
            
            &:nth-child(1) {
                background-color: $color-blue;
                color: $color-pastel-blue;
                height: 50px;
                border-radius: 16px;
                justify-content: center;
                transition: all 0.2s;
                padding: {
                    top: 0.25em; bottom: 0.25em;
                    left: 0.5em; right: 0.5em;
                }
                font: {
                    family: 'lora';
                    size: 25px;
                    weight: bold;
                    style: italic;
                }
                
                &:hover {
                    background-color: $color-pastel-blue;
                    color: $color-blue;
                    outline: {
                        width: 3px;
                        offset: inset;
                        style: solid;
                        color: $color-blue;
                    }
                    
                    img {
                        content: url(../../../public/images/cartPlusDark.svg);
                    }
                }
                
                figcaption {
                    margin-right: 0.5em;
                }
                
                img {
                    height: 40px;
                }
            }
            &:nth-child(2), &:nth-child(3) {
                flex-direction: column;
                align-items: center;
                
                img {
                    height: 40px;
                }
                
                figcaption {
                    color: $color-blue;
                    font: {
                        family: 'lora';
                        size: 20px;
                        weight: bold;
                        style: italic;
                    }
                }
            }
            &:nth-child(4) {
                img {
                    height: 35px;
                }
            }
        }
    }
    
    &.nouveauProduit {
        nav figure:first-child {
            display: none;
        }
    }
    
    &.nonConnecte {
        nav {
            display: none;
        }
    }
    
    dialog {
        background-color: $color-white;
        border: none;
        border-radius: 16px;
        padding: 2em;
        color: $color-blue;
        font-family: 'open-sans';
        
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 500px; // Assure une largeur minimale
        
        &::backdrop {
            background: rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(1px);
        }
        
        // Bouton de fermeture (X) en haut à droite
        > button {
            border: none;
            background: none;
            margin-left: auto;
            display: block;
            margin-bottom: 1em;
            padding: 0;
            transition: all 0.2s;
            
            &:hover {
                cursor: pointer;
                
                img {
                    content: url(../../../public/images/croixRouge.svg);
                }
            }
        }
        
        h1 {
            margin: 0 0 2em 0;
            text-align: center;
            font-size: 28px;
        }
        
        // Container des boutons d'action
        nav {
            display: flex;
            gap: 1.5em;
            justify-content: center;
            align-items: stretch; // Important pour égaliser les hauteurs
            
            button {
                // Reset de tous les styles précédents
                all: unset;
                
                // Styles des boutons
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                
                flex: 1; // Même largeur pour les deux boutons
                min-width: 180px;
                height: 60px;
                padding: 1em 2em;
                
                font-family: 'open-sans';
                font-size: 20px;
                font-weight: 600;
                text-align: center;
                
                border-radius: 24px;
                cursor: pointer;
                transition: all 0.2s ease;
                
                // Bouton "Annuler" (gauche)
                &:first-child {
                    background-color: $color-pastel-purple;
                    color: $color-blue;
                    border: 2px solid transparent;
                    
                    &:hover {
                        background-color: $color-pastel-blue;
                        border-color: $color-blue;
                    }
                }
                
                // Bouton "Oui" (droite)
                &:last-child {
                    background-color: $color-blue;
                    color: $color-white;
                    border: 2px solid $color-blue;
                    
                    &:hover {
                        background-color: darken($color-blue, 8%);
                        border-color: darken($color-blue, 8%);
                    }
                }
            }
        }
    }
}