@use "colors" as *;
@use "fonts";

button#haut {
    position: sticky;
    bottom: 1em;
    right: 1em;
    border: none;
    padding: 1em;
    color: $color-blue;
    font: {
        family: 'open-sans';
        weight: bold;
    }
    background: {
        color: $color-pastel-blue;
        radius: 16px;
    }
}