@use "../colors" as *;
@use "../fonts";

button#haut {
    position: sticky;
    justify-self: right;
    width: 150px;
    margin: {
        top: 1em; bottom: 1em;
    }
    border: none;
    padding: 1em;
    color: $color-white;
    font: {
        family: 'open-sans';
        weight: bold;
    }
    background: {
        color: $color-blue;
    }
    border-radius: 16px;

    &:hover {
        outline: {
            style: solid;
            color: $color-blue;
            offset: -2px;
            width: 2px;
        }
        color: $color-blue;
        background-color: $color-pastel-blue;
    }
}