@use "colors" as *;
@use "fonts";

button#haut {
    justify-self: right;
    border: none;
    margin: 1em;
    padding: 1em;
    color: $color-blue;
    font: {
        family: 'open-sans';
        weight: bold;
    }
    background: {
        color: $color-pastel-blue;
        radius: 16px;
    }
}