@use '../colors' as *;
@use '../fonts';

main.backoffice-stocks {
    h1, button, div {
        user-select: none;
    }

    section {
        color: $color-blue;

        h1 {
            font: {
                family: 'lora';
                weight: bold;
            }
        }
        
        div:not(button#settings div) {
            padding: 1em;
            padding-bottom: 0;
            background-color: $color-pastel-purple;
            border-radius: 16px;
            font-family: 'open-sans';
            
            button#settings {
                border: none;
                background: none;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 23px;
                justify-self: right;
                
                div {
                    background-color: $color-blue;
                    border-radius: 8px;
                    width: 25px; height: 3px;

                    div {
                        transition: all 0.2s ease;
                        background-color: $color-blue;
                        width: 7px; height: 7px;
                        border-radius: 100%;
                        position: relative;
                        top: -2px;
                        left: 4px;

                        &.right {
                            left: 14px;
                        }
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }

            figure {
                display: flex;
                gap: 0.25em;
                align-items: center;
            }

            ul {
                list-style: none;
            }

            table {
                border-spacing: 2em 0;

                th {
                    text-align: left;
                }

                tr:first-child {
                    th {
                        font-weight: bold;
                        font-size: 20px;
                    }
                }

                figure {
                    color: $color-yellow;
                    justify-self: right;
                }

                table, ul:not(ul ul) {
                    background-color: $color-white;
                    border: {
                        style: solid;
                        width: 2px;
                        color: $color-black;
                        radius: 16px;
                    }
                }

                table {
                    width: 50%;
                }

                ul {
                    padding-left: 0;
                    ul {
                        display: flex;
                        justify-content: space-between;
                        padding: 1em;
                        align-items: center;

                        li:first-child {
                            font-size: 30px;
                            font-weight: bold;
                        }
                    }
                }
            }

            > ul {
                margin-top: -1em;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-right: 3em;
                margin-left: -2em;
                font-weight: bold;

                figure {
                    img {
                        height: 20px;
                    }
                    gap: 0.25em;
                }

                li:last-child {
                    color: $color-red;
                }
            }
        }

        &:first-child div:not(button#settings div) {
            border-left: {
                style: solid;
                width: 5px;
                color: $color-red;
            }
        }
    }
}