$color-blue: #273469;
$color-green: #259525;
$color-pastel-blue: #e3f2fe;
$color-red: #f14e4e;
$color-orange: #ffc25a;
$color-pastel-purple: #e4d9ff;
$color-gray: #bababa;
$color-dark-gray: #6e6e6e;
$color-light-gray: #e4e4e4;
$color-black: #000000;
$color-white: #fffefa;