/* Font stack variables for consistent usage across SCSS files */
$font-lora: "lora", serif;
$font-berkshire: "berkshire", serif;
$font-open-sans: "open-sans", sans-serif;

@font-face {
  font-family: "lora";
  src: url("/fonts/lora/Lora-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "berkshire";
  src: url("/fonts/berkshire-swash/BerkshireSwash-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "open-sans";
  src: url("/fonts/open-sans/OpenSans-VariableFont_wdthwght.ttf")
    format("truetype");
}
