@use "colors" as *;
@use "fonts" as *;
@use "./frontoffice/styleTemplate";
@use "./frontoffice/styleLegales";
@use "./frontoffice/style404";
@use "./backoffice/header";
@use "./frontoffice/inscription";
@use "./backoffice/footer";
@use "./backoffice/aside";
@use "./backoffice/structure";
@use './backoffice/acceuil';
