@use "colors" as *;
@use "fonts" as *;
@use "./frontoffice/styleTemplate";
@use "./frontoffice/styleLegales";
@use "./frontoffice/style404";
@use "./backoffice/header";
@use "./frontoffice/inscription";
@use "./backoffice/footer";
@use "./backoffice/aside";
@use "./backoffice/structure";
@use "./frontoffice/stylePaiement";
@use './backoffice/acceuil';
@use './frontoffice/styleCompteClient';
@use './frontoffice/styleAcceuilConnecte';
@use './frontoffice/stylePopUpCompteClient';
@use "./frontoffice/stylePanier";
@use "./backoffice/AjouterProduit";
@use "./backoffice/CreerCompteVendeur";
