$color-blue: #273469;
$color-green: #259525;
$color-pastel-blue: #E3F2FE;
$color-red: #F14E4E;
$color-orange: #FFC25A;
$color-pastel-purple: #E4D9FF;
$color-gray: #bababa;
$color-dark-gray: #6e6e6e;
$color-light-gray: #e4e4e4;
$color-black: #000000;
$color-white: #fffefa;