@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

main h1 {
    color: #273469;
    font-family: "Lora", serif;
    font-size: 48px;
    font-weight: bold;   
    font-style: italic;  
    text-align: center;
    margin: 50px 0px;
}

section {
    margin: 0px 80px;
}

.titreSection {
    font-family: "Lora", serif;
    font-size: 20px;
    font-weight: bold;   
}

.texteSection {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

@media (max-width: 1300px) { 
    main h1 {
        font-size: 32px;
        margin: 20px 0px;
    }
    section {
        margin: 0px 40px;
    }
}