body {
    position: relative;
    overflow: hidden;
    background-color: #00000000;
}

main {
    text-align: center;
    display: flex;            
    flex-direction: column;  
    justify-content: center;   
    align-items: center;      
    height: 100vh;          
}

main h1, main h2, main a {
    color: #273469;
    font-family: "Berkshire Swash", serif;
    font-style: normal;
}

main h1 {
    font-size: 150px;
}

main h2 {
    font-size: 80px;
}

main a {
    color: white;
    background-color: #273469;
    border: 5px solid #273469;
    border-radius: 64px;
    font-size: 50px;
    padding: 10px 50px;
    transition: 0.3s;
}

main a:hover {
    color: #273469;
    background-color: #fff;
    transition: 0.3s;
}

main img {
    width: 525px;
}

main div {
    margin: 50px;
}

.bgImgs {
    position: absolute;
    opacity: 0.3;
    z-index: -1; 
    pointer-events: none; 
}

.bgImgs.bleu {
    bottom: -250px;
    left: -150px;
    width: 1052px;
}

.bgImgs.rose {
    top: -200px;
    right: -150px;
    width: 1052px;
    transform: rotate(180deg);
}

@media (max-width: 1300px) { 
    body {

        background-color: #00000000;
    }
    main {
        text-align: center;
        display: flex;            
        flex-direction: column;  
        justify-content: center;   
        align-items: center;             
    }

    main h1, main h2, main a {
        color: #273469;
        font-family: "Berkshire Swash", serif;
        font-style: normal;
    }

    main h1 {
        font-size: 60px;
    }

    main h2 {
        font-size: 30px;
    }

    main a {
        color: white;
        background-color: #273469;
        border: 5px solid #273469;
        border-radius: 64px;
        font-size: 30px;
        padding: 5px 15px;
        transition: 0.3s;
    }

    main a:hover {
        color: #273469;
        background-color: #fff;
        transition: 0.3s;
    }

    main img {
        width: 525px;
    }

    main div {
        margin: 50px;
    }

    .bgImgs {
        position: absolute;
        opacity: 0.3;
        z-index: -1; 
        pointer-events: none; 
    }

    .bgImgs.bleu {
        bottom: -150px;
        left: -150px;
        width: 600px;
    }

    .bgImgs.rose {
        top: -100px;
        right: -150px;
        width: 600px;
        transform: rotate(180deg);
    }
}