<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
            <link rel="stylesheet" href="../styles/frontoffice/_stylePopUpCompteClient.scss">
        </head>
        <body>
            <h1>Modification de votre mot de passe</h1>

            <div class="croix">
                <div></div>
                <div></div>
            </div> 
            <main>
            <section>
                <div class="formulaireMdp">
                    <form action="">
                        <input type="text" placeholder="Ancien mot de passe">
                        <input type="text" placeholder="Nouveau mot de passe">
                        <input type="text" placeholder="Confirmer le nouveau mot de passe">
                    
                        <article>
                            <div class="croix">
                                <div></div>
                                <div></div>
                            </div> 
                            <p>Longueur minimale de 12 charactères</p>
                        </article>

                        <article>
                            <div class="croix">
                                <div></div>
                                <div></div>
                            </div> 
                            <p>Au moins une minuscule / majuscule</p>
                        </article>

                        <article>
                            <div class="croix">
                                <div></div>
                                <div></div>
                            </div> 
                            <p>Au moins un chiffre</p>
                        </article>

                        <article>
                            <div class="croix">
                                <div></div>
                                <div></div>
                            </div>  
                            <p>Au moins un charactères spéciale</p>
                        </article>
                    </div>
                        <button type="button" onclick="fermerFenetre()">Valider</button>
                    </form>
                </section>
            </main>
        </body>
        <script>
            function fermerFenetre(){
                window.close();
            }
        </script>
</html>