@use "../colors" as *;
@use "../fonts" as *;

.status-red { color: $color-red; }
.status-green { color: $color-green; }
$page-padding: 32px 16px;
$form-max-width: 420px;
$profile-size: 120px;
$profile-img-size: 60px;
$input-padding: 12px 14px;
$btn-width: 70%;
$btn-max-width: $form-max-width;
$btn-padding: 12px 16px;
$btn-radius: 50px;
$bg-left: -200px;
$bg-top: 50px;
$bg-size: 900px;
$bg-rotation: -180deg;
$bg-opacity: 0.3;
$content-z: 1;
$bg-z: 0;


.inscription {
  font-family: "lora";
  font-weight: bold;

  &::before {
    content: "";
    position: absolute;
    left: $bg-left;
    top: $bg-top;
    width: $bg-size;
    height: $bg-size;
    background: url("../../public/images/symboleRose.png") no-repeat center
      center;
    background-size: contain;
    transform: rotate($bg-rotation);
    opacity: $bg-opacity;
    z-index: $bg-z;
    pointer-events: none;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: {
      size: 16px;
      weight: bold;
    }
    text-align: center;
    input {
      width: 450px;
      height: 40px;
      padding: 10px;
      margin: 16px;
      color: #6e6e6e;
      font-size: 16px;
      border: 2px solid #273469;
      border-radius: 8px;
    }

  }

  h2 {
    color: #273469;
    font-family: "Lora", serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 50px 0px;
  }
}

#submitButton {
  width: 450px;
  height: 48px;
  padding: 10px;
  margin-bottom: 45px;
  font-size: 16px;
  background-color: #e4d9ff;
  border-radius: 8px;
  border: none;
  color: #273469;
}

#password-requirements-container {
  padding-left: 12px; 
  
}

#password-requirements {
    list-style: none;
    padding: 0;
    margin: 0;
}

#password-requirements li {
  margin-bottom: 5px;        
}
