@use "../colors" as *;
@use "../fonts" as fonts;

// variables locales
$page-padding: 32px 16px;
$form-max-width: 420px;
$profile-size: 120px;
$profile-img-size: 60px;
$input-padding: 12px 14px;
$btn-width: 70%;
$btn-max-width: $form-max-width;
$btn-padding: 12px 16px;
$btn-radius: 50px;
$bg-left: -200px;
$bg-top: 50px;
$bg-size: 900px;
$bg-rotation: -180deg;
$bg-opacity: 0.3;
$content-z: 1;
$bg-z: 0;

.pageConnexionCLient {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: $bg-left;
    top: $bg-top;
    width: $bg-size;
    height: $bg-size;
    background: url("../../public/images/symboleRose.png") no-repeat center
      center;
    background-size: contain;
    transform: rotate($bg-rotation);
    opacity: $bg-opacity;
    z-index: $bg-z;
    pointer-events: none;
  }

  > * {
    position: relative;
    z-index: $content-z;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $page-padding;
    box-sizing: border-box;
    min-height: 100vh;

    .profile {
      width: $profile-size;
      height: $profile-size;
      border-radius: 50%;
      background: $color-blue;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;

      img {
        width: $profile-img-size;
        height: $profile-img-size;
        object-fit: contain;
      }
    }

    h2 {
      text-align: center;
      color: $color-blue;
      font-family: fonts.$font-lora;
      font-size: 30px;
      font-weight: 600;
      font-style: italic;
      margin: 0 0 24px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      width: 100%;
      max-width: $form-max-width;
      margin: 0 auto 24px;
      box-sizing: border-box;

      .inputConnexionClient {
        width: 100%;
        padding: $input-padding;
        border: 2px solid $color-blue;
        border-radius: 8px;
        font-family: fonts.$font-open-sans;
        font-size: 14px;
        box-sizing: border-box;
        background: transparent;
      }

      > div {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .boutonConnexionClient {
          margin-top: 25px;
          width: $btn-width;
          max-width: $btn-max-width;
          padding: $btn-padding;
          background: $color-pastel-purple;
          color: $color-blue;
          font-family: fonts.$font-lora;
          font-size: 18px;
          font-weight: 200;
          border: none;
          border-radius: $btn-radius;
          cursor: pointer;
        }

        a {
          color: $color-blue;
          font-size: 14px;
          text-decoration: underline;
          text-decoration-thickness: 1px;
          text-decoration-color: $color-blue;
          margin-top: 8px;
        }
      }
    }

    .petitTexte {
      color: #6e6e6e;
      text-align: center;
      width: 80%;
      max-width: 700px;
      margin: 12px auto 0;
      font-family: fonts.$font-open-sans;
      font-size: 13px;
      line-height: 1.4;
    }
  }
}
