@use "../colors" as *;
@use "../fonts" as *;

.pageProduit{
    body{
        margin: 0;
        padding: 0;
    }

    main{
        display: flex;
        flex-direction: column;
        position: relative; // Add this
    }

    h1,h2,h3,h4,p{
        font-family: $font-lora;
        color: $color-blue;
    }
    #descriptionCourte{
        color: black;
    }

    .infoHautProduit{
        display: flex;
        flex-direction: row;
        overflow-y: scroll;
        position: relative; // Add this
    }

    .rect{
        width:1440px;
        height:224px;
        background:#273469;
    }

    .rectangleProduit{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 3em 2em;
        padding: 0 1em;
        width: 550px;
        height: 450px;
        border: 1.5px inset #273469;
        border-radius: 16px;
    }

    #imageBouteille{
        width: 220px;
        height: 330px;
    }

    .rectangleProduit img:nth-child(2n+1){
        width: 35px;
        height: 61px;
    }

    .infoPreviewProduit{
        width: 400px;
        height: 434px;
        margin-top: 3.5em;
    }

    .infoPreviewProduit div{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap : 1em;  
    }

    .infoPreviewProduit div h1, .infoPreviewProduit div h2, .infoPreviewProduit div h4{
        margin: 1em 0;
    }

    .infoPreviewProduit h1, .infoPreviewProduit h2,.infoPreviewProduit h3, .infoPreviewProduit h4, .infoPreviewProduit p{
        margin: 0 0;
    }

    .voirPlus{
        text-decoration: underline;
        float: right;
        color: $color-blue;
    }

    #prix h1, #prix h3{
        margin: 0.2em 0;
        font-weight: 300;
    }

    #prix{
        gap: 0.5em;
    }

    #lesCercles{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
        margin-top: 1em;
        align-items: center;
    }

    .infoPreviewProduit div img{
        width: 50px;
        height: 75px;
        margin-top: 0.5em;
    }

    .version{
        margin-top: 1.6em;
        padding: 0 0;
    }

    .version p{
        background-color: $color-pastel-purple;
        padding: 0.3em 0.7em;
        border-radius: 8px;
        margin: 0 0;
    }

    .version h3, .version p{
        margin: 0.2em 0;
    }

    .voirPlus{
        color : $color-blue;
        text-decoration: underline;
    }

    .cercleNoir{
      width: 10px;
      height: 10px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: black;
    }

    .actionsProduit{
        top: 15em;
        right: 1em;
        position: fixed;
        width: 341px;
        z-index: 10;
        height: fit-content;
        padding: 15px;
    }

    .actionsProduit h2{
        margin: 0 0;
        padding: 0 0;
    }

    .underline{
        text-decoration: underline;
    }

    #plusDarticles{
        margin: 0 0;
    }

    .actionsProduit h1,h2,h3,h4{
        margin: 0 0;
    }

    .actionsProduit p, .ligneActions{
        margin: 0.5em 0;
        color: black;
    }
    

    .ligneActions{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .ligneActions img{
        width: 40px;
        height: 40px;
    }

    .bouton{
        width: 300px;
        height: 60px;
        padding: 10px;
        font-size: 16px;
        margin: 0.5em;
        border-radius: 32px;
        border: none;
        position: relative;
        left: 5%;
    }

    .actionsProduit button:nth-child(2n+1){
        background-color: #e4d9ff;
        color: #273469;
    }

    .actionsProduit button:nth-child(2n){
        background-color: #273469;
        color: white;
    }

    #moins{
        width: 16px;
        height: 2.25px;
    }

    #plus{
        width: 16px;
        height: 16px;
    }

    #quantite{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1em;
        padding: 0 0;
        background-color: white;
        border: 2px inset $color-blue;
    }

    #quantite div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .conteneurTexte{
        width: 50%;
        max-height: 600px;
        margin-left: 2.5em;
        color: $color-blue;
        mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    }

    .conteneurTexte h2{
        margin-bottom: 1em;
    }

    #activeVoirPlus:checked ~ .conteneurTexte{
        max-height: 1000px;
        mask-image: none;
    }


    .voirPlus::after{
        content: "Voir plus";
    }

    #activeVoirPlus:checked ~ .voirPlus::after{
        content: "Voir moins";
    }

    #activeVoirPlus{
        display: none;
    }

    .informations label{
        display: inline-block;
        position: relative;
        right: 60%;
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;
    }

    .informations ul, .informations h3, .informations h4, .informations p{
        font-size: 18px;
    }

    .informations ul li p{
        margin: 0 0;
        padding: 0 0;
    }

    .informations h4{
        font-weight: 300;
    }

    .sectionAvis{
        width: 70%;
        margin-left: 2.5em;
    }

    .sectionAvis button{
        margin: 2em 0;
    }

    .sectionAvis article{
        display: flex;
        flex-direction: column;
    }

    .sectionAvis article *{
        margin: 0.3em 0;
    }

    .sectionAvis article div{
        margin: 0 0;
    }

    .sectionAvis article div h3{
        padding-top: 0.3em;
    }

    #ppClientBox img{
        margin-right: 0.5em;
        width: 64px;
        height: 64px;
        object-fit: cover;
        border-radius: 100%;
    }

    .horizontal{
        display: flex;
        flex-direction: row;
    }

    .vertical{
        display: flex;
        flex-direction: column;
    }

    .star-rating {
        font-size: 32px;
        position: relative;
        display: inline-block;
        padding: 0 0;
        margin: 0 0;
    }

    .stars::before {
        content: "★★★★★";
        color: lightgray;
        padding: 0 0;
        margin: 0 0;
    }

    .stars::after {
        content: "★★★★★";
        color: gold;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(var(--rating) / 5 * 100%);
        overflow: hidden;
        padding: 0 0;
        margin: 0 0;
    }
}