@use "../colors" as *;
@use "../fonts" as *;

.acceuilConnecte {
    .nomCategorie {
    display: flex;
    align-items: center;
    margin: 30px 40px;
    }

    .nomCategorie h2 {
        font-family: "Lora", serif;
        font-size: 40px;
        color: #273469;
        font-weight: 100;
    }

    .nomCategorie hr {
    flex-grow: 1;        /* la ligne prend tout l’espace libre */
    height: 3px;
    background-color: #273469;
    border: none;
    margin-left: 20px;   /* petit espace entre le texte et la ligne */
    }

    .banniere, .banniere div {
        background-color: #E4D9FF;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .banniere {
        text-align: center;
        justify-content: center;
    }

    .banniere * {
        margin: 0px 30px;
    }

    .banniere h1 {
        color: #273469;
        font-family: "Lora", serif;
        font-size: 45px;
        font-weight: bold;  
        font-style: italic; 
    }

    .banniere img {
        max-width: 340px;
    }

    @media (max-width: 965px) {
        .banniere div * {
            margin: 0px 0px;
        }
        hr {
            display: none;
            visibility: hidden;
        }
        .banniere {
            align-items: center;
        }
        .banniere, .banniere div {
            display: block;
        }
        .banniere img {
            max-width: 170px;
        }
        .banniere .fleche {
            display: none;
            visibility: hidden;
        }
        .banniere h1 {
            font-size: 32px;
            background-color: #E3F2FE;
            padding: 10px;
        }
        .banniere div {
            background-color: #E4D9FF;
            display: block;
            text-align: center;
        }
        .nomCategorie h2 {
            font-size: 30px;
        }
    }

    article {
        border: 2px solid #273469;
        border-radius: 20px;
        margin: 0px 40px;
        padding: 10px;
        min-width: 276px;
        display: flex;
        flex-direction: column;
    }

    article h2 {
        color: #273469;
        font-size: 16px;
        font-family: "Open sans", serif;
    }

    article .imgProduit {
        max-width: 267px;
    }

    .listeArticle {
        width: 100%;
        display: flex;
        overflow-x: auto;
    }

    .listeArticle::-webkit-scrollbar {
        display: none;
        visibility: hidden;
    }

    .infoProd {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
    }

    .prix h2 {
        color: #273469;
        font-size: 32px;
        font-family: "Lora", serif;
        font-weight: bold;   
        font-style: italic;  
        margin: 0;
    }

    .prix h3 {
        color: #000000;
        font-size: 12px;
        font-family: "Lora", serif;
        font-weight: bold;   
        font-style: italic;  
        margin: 0;
    }

    .listeArticle h1 {
        font-family: "Lora", serif;
        font-weight: bold;   
        font-style: italic;  
        margin-left: 40px;
    }
}