@use "../colors" as *;
@use "../fonts" as *;

.ecrireAvis{
    main{
        
        margin-left: 10%;
        h2{
            margin-top:30px ;
            font-family: "lora";
            color:$color-blue;
            text-align: center;
        }

        p, label{
            font-family: "lora";
            font-size: 20px;
            color:$color-blue;
        }
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            font: {
                size: 16px;
                weight: bold;
            }
            input, textarea{
                width: 80%;
                padding: 5px;
                margin-right: 10%;
                height: 50px;
                margin-bottom: 30px;
                color: #6e6e6e;
                font-family: "lora";
                font-size: 16px;
                border: 2px solid $color-blue;
                border-radius: 8px;
            }
            textarea {    
                height: 300px;
            }
        }
    }
}


#publishButton{
    width: 80%;
    padding: 5px;
    margin-right: 10%;
    height: 50px;
    margin-bottom: 30px;
    font-size: 16px;
    background-color: $color-blue;
    border-radius: 8px;
    border: none;
    color: $color-white;
}
