@use "../colors" as *;
@use "../fonts" as *;
 
.mainCompteClient{
    background-image: url("../../../public/images/triskel.png");
    background-repeat: no-repeat;
    background-size:contain;
    font-family: 'lora';
    font-weight: bold;
    font-style: italic;


    h1{
        font-family: 'lora';
        font-size: 48px;
        color: $color-blue;
    }

    #titreCompte{
        padding-top:60px ;
        padding-bottom:10px ;
        padding-left:50px ;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }

    #titreCompte img{
        border-radius: 100%;
        width: 150px;
        height: auto;
    }


    section{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 50px;
        flex-wrap: wrap;
    }

    article{
        display: flex;
        flex-direction: column;
    }


    article div{
        display: flex;
        flex-direction: row;
        gap: 29px;
    }

    article div p, .input-container{
        width: 185px;
    }

    article p, input{
        margin-top: 45px;
        display: flex;
        align-items: center;
        width: 420px;
        height: 45px;
        padding: 10px;
        color: #6E6E6E;
        border: 2px solid $color-blue;
        border-radius: 8px ;
        font-size: 16px;
        font-family: 'lora';
        font-weight: bold;
        font-style: italic;
    }

    #buttonsCompte{
        padding-top: 32px;
        padding-right: 20px;
        display: flex;
        flex-direction: row;
        justify-content:end;
        gap: 20px;
    }

    button{
        color :  $color-blue;
        background-color: $color-pastel-purple;
        border-radius: 32px;
        padding: 10px;
        border: none;
        border-radius: 32px ;
        font-family: 'lora';
        cursor: pointer;
    }

    .boutonModifierMdp{
        width: 250px;
        height: 55px;
    }

    .boutonModiferProfil{
        width: 200px;
        height: 55px;
    }

    .boutonAnnuler{
        display: none;
        background-color: $color-red;
        width: 200px;
        height: 55px;
    }

    .error-message {
        color: red;
        font-size: 0.8rem;
        margin-top: 2px;
        display: block;
    }

    .input-container{
        display: flex;
        flex-direction: column;
    }

}
    


.overlayPopUpCompteClient{
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        align-items: center;
        display: flex;
        justify-content: center;
        z-index: 1000;
    }

