@use "../colors" as *;
@use "../fonts" as *;

.mainPopUpCompteClient{ 
    background-color: $color-white;
    padding: 30px 50px;
    border-radius: 16px;
    position: relative;
    h1{
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        color: #273469;
        text-align: center;
    }
    
    form{
        display: flex;
        flex-direction: column;
        
    }
    
    input{
        width: 450px;
        height: auto;
        padding: 10px;
        margin-bottom: 5px;
        color: #6E6E6E;
        font-size: 16px;
        border: 2px solid #273469;
        border-radius: 8px ;
    }
    
    button{
        width: 200px;
        color : #273469;
        background-color: #E4D9FF;
        border-radius: 32px;
        padding: 10px;
        border: none;
        border-radius: 32px ;
        font-size: 18px;
        font-family: 'lora';
        text-align: center;
        margin-top: 20px;
        cursor: pointer;
    }
    
    .croix {
        position: relative;   
    }
    
    .croix div {
        position: absolute; 
        top: 50%;             
        left: 50%;            
        width: 20px;           
        height: 2px;           
        background-color: #BABABA;
    }
    
    .croix div:first-of-type {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    
    .croix div:last-of-type {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    
    section{
        display:flex ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    
    section article{
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-left: 10px;
    }
    
    p{
        margin: 5px;
    }
    
    .formulaireMdp{
        display: flex;
        flex-direction: column;
    }
    
    .croixFermerLaPage {
        position: absolute; 
        top: 30px;
        right: 30px;
        cursor: pointer;
    }
    .croixFermerLaPage div {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px; 
        height: 3px;
        background-color: #BABABA;
    }
    .croixFermerLaPage div:first-of-type {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .croixFermerLaPage div:last-of-type {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}